body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--light);
}

.header {
    text-align: center;
    padding: 20px 0;
    background-color: var(--secondary);
    color: #fff;
    font-size: 24px;
}

.feedback-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.feedback-box {
    background-color: #191C24; /* Change background color to gray */
    color: #fff; /* Change text color to white */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    max-width: 400px;
}

.feedback-box h3 {
    margin-top: 0;
    font-size: 14px;
}

.feedback-box p {
    font-size: 16px;
    margin-top: 5px;
    color: #666;
    
}

.delete-btn {
    background-color: var(--primary);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
