
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
    header {
        background-color: #191C24;
        color: #fff;
        padding: 10px 0;
        text-align: center;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
        margin-top: 20px;
        padding: 15px;
        background-color: #191C24 !important; 
    }
    .user-box {
        background-color: #000;
        color: #fff;
        border-radius: 5px;
        border: 2px solid #fff; /* Add white border */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 10px;
        padding: 20px;
        width: 300px;
        text-align: center;
        position: relative; /* Add position relative */
    }
    .user-box h2 {
        margin-top: 0;
    }
    .delete-btn {
        background-color: var(--primary);
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px; /* Adjust margin top */
    }
    
